 html {
	overflow-y: scroll;
}

html,body{
	width:100%;
	height:100%; 
	margin:0px;} 

body {
	height:100%;
	min-width: 1400px;
	margin: 10px;
	padding: 1px;
	background: #fff;
    font-size: 68.8%; /* Set base to 11px */
}

body,td,th {
	font-family: Arial, Helvetica, sans-serif;
}



body#minwidth-body {
	height: 100%;

    width:100%;
}

a,img {
	padding: 0;
	margin: 0;
}

img {
	border: 0 none;
}

.clr {
	clear: both;
	overflow: hidden;
	height: 0;
}

form {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
	padding-bottom: 8px;
	color: #025A8D;
	font-size: 1.818em;
}

h3 {
	font-size: 1.182em;
}

h4 {
	font-size: 1.182em;
}

* :focus, a:active {
	outline: none;
}

a:link {
	color: #025A8D;
	text-decoration: none;
	outline: none;
}

a:visited {
	color: #025A8D;
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

fieldset {
	margin-bottom: 10px;
	border: 1px #ccc solid;
	padding: 5px;
	text-align: left;
}

legend {
	color: #146295;
	font-size: 1.182em;
	font-weight: bold;
}

input,select {
	border: 1px solid silver;
	background: #fff;
}

#mod-login-username,#mod-login-password
{
font-family: Arial,Helvetica,sans-serif;
font-size:18px;
height:22px;
width:200px;
}

#log_res
{
  width:200px;
  color:red;
  margin-left:200px;
  float:right;
  clear:none;
  font-size:12px;
}



textarea {
	font-size: 1.273em;
	border: 1px solid silver;
}

iframe {
	border: 0;
}
 
input.button {
	cursor: pointer;
}
 
.hide 			{ display: none; }

.nowrap {
	white-space: nowrap;
}

#border-top.h_blue {
	float:left;
	width:100%;
	border-bottom: 2px solid #666666;
	height: 54px;
}

#footer {
	background-color: #6b6b6b;
	height: 22px;
	width:100%;
	font-size:12px;
	color:white;
	float:left;
}

#foot_date{
 padding-top:3px;
 padding-right:12px;
 float:right;
 }
 
.tbar_a{
	font-size:13px;
	color: black;
	padding-left:14px;
}
 
#menu_wrapper
{ 
padding-top:12px;
}
 

#company_title{
	font-size:21px;
  font-weight:bold;
} 
  
#border-top .logo {
	display: block;
	width: 100%;
	padding: 7px 10px 0 0;
}

#border-top   {
    float: left;	 
}


#header-box {
	border: 1px solid #ccc;
	background: #f0f0f0;
}

#footer .copyright {
	margin: 10px;

	text-align: center;
	line-height: 160%;
}

p.footer-tip {
	margin-top: 15px;
}


#logo_nanx {
	float:left;
	margin-top:9px;
	margin-left:8px;


}


#content-box {
    float:left;
    width:100%;
	background-color: #F4F4F4;
}
 

#element-box 
  {
  margin-bottom: 11px;
	padding: 10px 10px 0 10px;
}


/* -- CONTROL PANEL STYLES ----------------------------- */
.cpanel div.icon, #cpanel div.icon {
	text-align: center;
	margin-right: 15px;
	float: left;
	margin-bottom: 15px;
}

.cpanel div.icon a, #cpanel div.icon a {
	background-color: #fff;
	background-position: -30px;
	display: block;
	float: left;
	height: 97px;
	width: 108px;
	color: #565656;
	vertical-align: middle;
	text-decoration: none;
	border: 1px solid #CCC;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition-property:
		background-position,-webkit-border-bottom-left-radius,-webkit-box-shadow;
	-moz-transition-property:
		background-position,-moz-border-radius-bottomleft,-moz-box-shadow;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
}

#cpanel div.icon a:hover,
#cpanel div.icon a:focus,
#cpanel div.icon a:active,
.cpanel div.icon a:hover,
.cpanel div.icon a:focus,
.cpanel div.icon a:active{
	background-position: 0;
	-webkit-border-bottom-left-radius: 50% 20px;  
	-moz-border-radius-bottomleft: 50% 20px;
  border-bottom-left-radius: 50% 20px;  
	-webkit-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25); 
	-moz-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25); 
	box-shadow:-5px 10px 15px rgba(0, 0, 0, 0.25); 
	position: relative; 
	z-index: 10; 
}

#cpanel div.icon a:hover,
#cpanel div.icon a:focus,
#cpanel div.icon a:active,
.cpanel div.icon a:hover,
.cpanel div.icon a:focus,
.cpanel div.icon a:active  {
background-color: #fff;
zoom: 1;
filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=6);
}




#cpanel img,
.cpanel img {
margin-top:10px;
margin-bottom:10px;

}

#cpanel span,
.cpanel span {
	display: block;
	text-align: center;
}

div.cpanel-left {
	width: 53%;
	float: left;
	padding:10px;
}

div.cpanel-right {
	width: 614px;
	float: right;
	padding:10px 5px 2px 0px;
}

  
  
fieldset label,
fieldset span.faux-label {
	float: left;
	clear: left;
	display:block;
	margin: 5px 0;
}
fieldset ul {
	margin: 0;
	padding: 0;
}

form label,
form span.faux-label {
	font-size: 1.091em;
}

fieldset input,
fieldset textarea,
fieldset select,
fieldset img,
fieldset button {
	float: left;
	width: auto;
	margin: 5px 5px 5px 0;
}

fieldset.adminform textarea {
	width: 355px;
}

fieldset ul.checklist input {
	clear: left;
	margin-right: 10px;
}

fieldset ul.checklist label,
fieldset ul.menu-links label,
fieldset#filter-bar label {
	clear: none;
}
fieldset.adminform ul.checklist li {
	width: 100%;
	margin: 0;
	padding: 0;
}
fieldset.adminform ul.checklist li label {
	width: auto;
}
 
 
div#content-pane fieldset {
	border: 0;
	padding: 10px 15px 0 15px;
}

div.panel fieldset {
	border: 0;
}
 

/*--------**/

 #cpanel-panel-latest
 {
 margin-top:5px;
 }
 
/* -- PANE SLIDER STYLES ----------------------------- */
.pane-sliders {
	margin: 0 0 0 0;
	position:relative;
}
.pane-sliders .title {
	margin: 0;
	padding: 2px 2px 2px 5px;
	color: #666;
}

#content-pane {
	margin: 8px 10px 15px 15px;
}

.pane-sliders .panel {
	margin-bottom: 3px;
	border:solid 1px #ccc;
}

.pane-sliders .panel h3 {
	background: #fafafa;
	color: #666;
}

.pane-sliders .content {
	background: #fff;
}

.pane-sliders .adminlist {
	border: 0 none;
	font-size: 1em;
}

.pane-sliders .adminlist td {
	border: 0 none;
}


.pane-toggler span {
	padding-left: 20px;
}


.pane-toggler {
	font-size:12px;font-weight:bold;
	height:20px;
}

#work_event_pointer{
	background: transparent url(images/j_arrow.png) 5px 50% no-repeat;
}

#show_all_sms{
  cursor: pointer;
} 

h3.pane-toggler a:hover {
	text-decoration: none;
}

.pane-slider.pane-hide {
	display: none;
}

.pane-slider ol li {
	list-style: none;
	margin-left: -25px;
	margin-top: 10px;
}
  
/* Field label widths - short label */
fieldset.adminform label,
fieldset.adminform span.faux-label {
	min-width: 135px;
	padding: 0 5px 0 0;
}

fieldset.panelform {
	overflow: hidden;
	clear: both;
}

fieldset.panelform label,
fieldset.panelform div.paramrow label,
fieldset.panelform span.faux-label {
	min-width: 145px;
	max-width: 250px;
	padding: 0 5px 0 0;
}
 

/* Pagination on backend */
.button1,
.button1 div {
	height: 1%;
	float: right;
}

.button1 {
	background: url(images/j_button1_left.png) no-repeat;
	white-space: nowrap;
	padding-left: 10px;
	margin-left: 5px;
	height:30px;
}
.button1 .next {
	background: url(images/j_button1_next.png) 100% 0 no-repeat;
}

.button1 a {
	display: block;
	height: 26px;
	float: left;
	line-height: 26px;
	font-size: 1.091em;
	font-weight: bold;
	color: #525252;
	cursor: pointer;
	padding: 0 35px 0 6px;
}

.button1 a:hover {
	text-decoration: none;
	color: #0B55C4;
}

.page span,.blank span {
	color: #000;
	font-weight: bold;
}
 
a.pointer { cursor: pointer; }

button {
	margin-top: 4px;
	background: #fff;
	border: 1px solid #ccc;
	text-decoration: none;
}

button:hover {
	cursor: pointer;
	background: #E8F6FE;
	text-decoration: none;
	border: 1px solid #aaa;
}

/* -- LOGIN STYLES ----------------------------- */
.login {
	margin: 50px auto 100px !important;
	width: 575px;
}


#logintext{
	margin-top:4px;
	font-size:16px;
}



  
#user_td,#pwd_td
{
  text-align:right;
  padding-right:10px;
  width:110px;
  color:#525252;
  font-size:1.1em;
  font-weight: bold; 
  height:35px;
}

form#form-login {
	clear: both;
	padding: 10px 0 10px 0;
}

h1 {
	margin: 10px 0 5px 10px;
}

p {
	margin: 0 0 15px 10px;
	padding: 0;
	font-size: 1em;
}

#section-box {
	float: right;
	width: 340px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #fff;
}

#section-box .m {
	padding: 5px;
}

#section-box .padding {
	background: none;
	padding: 0;
}

#lock{
	  width:150px;
	  height:150px;
	  margin-top:10px;
	  margin-left:10px;
} 

fieldset.loginform {
	border: 0 none;
	width: auto;
}
 
#form-login .button-holder {
	float: right;
	padding-right: 5px;
	clear: right;
	margin-top: 10px;
}
 
/* -- BASIC MENU STYLES ----------------------------- */

#menu,
#menu ul,
#menu li {
	margin: 0;
	padding: 0;
	border: 0 none;
}

#menu {
	position: relative;
	z-index: 100;
}

#menu li {
	float: left;
	position: relative;
	list-style: none;
	display: inline;
}

#menu li a {
	display: block;
	white-space: nowrap;
}

#menu li ul {
	visibility: hidden;
	position: absolute;
}

#menu li li ul {
	top: 0;
	left: 0;
}

#menu li:hover ul {
	visibility: visible;
}

#menu li:hover ul li ul {
	visibility: hidden;
}

#menu li:hover li:hover ul {
	visibility: visible;
	left: 100%;
}
 

/** rounded corners **/
div#element-box div.section-box div.m {
	background: #fbfbfb;

}

.submenu-box, div.m {
	border: 1px solid #ccc;
	padding: 0 8px;
	background-color: #f4f4f4;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.submenu-box, #submenu-box div.m {
	padding: 6px 8px;
}

div.m
{
height:100px;
}

.wbg {
	background-color: #fff!important;
}

 

div#element-box div.m {
	padding: 10px;
}

div#element-box div.section-box {
	background: #f4f4f4;
}

div#element-box.login  {
	background-color: #ffffff;
}

#tb1
{border-collapse:collapse;
border:1px;
margin-left:10px;
width:700px;
}

#tb1 td{
border:1px solid #EDEDED;
font-family:"Courier New", Courier, mono;
font-size:13px;
height:25px;
border-collapse:collapse;
}
.red {
        font-weight: bold;
        color: red;
}

#oss_menu
{
	width:140px;
	margin-left:10px;
	margin-top:4px;
	height:46px;
  float:left;
  background-image:url(../css/backend/backimgs/dblite-abt-logo.png);
  background-repeat:no-repeat;
}

.table_data_refresh{
	background-image: url(backend/backimgs/icons/refresh-16.png) !important;
}

.service_remote {
	background-image: url(backend/backimgs/icons/service_execute.png) !important;
}

.shadow{
    -moz-box-shadow: 6px 6px 8px #ccc;
    -webkit-box-shadow: 6px 6px 8px #ccc;
    box-shadow: 6px 6px 8px #ccc; /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc')"; /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength = 10, Direction = 135, Color = '#cccccc');
}


.icon > a img {
    height: 48px;
    width: auto;
     
}

 